<div class = "ls-Sidebar">
  <ul class = "navigation">
    <li><a href="/"><div class="ls-FontGreen">Home Page</div></a></li>
    <li><a href="/userDashboard"><div class="ls-FontGreen">User Dashboard</div></a></li>
    <li><a href="/userProfile"><div class="ls-FontGreen">User Profile</div></a></li>
    <li><a href="savedSearch.html"><div class="ls-FontGreen">Saved Searches</div></a></li>
    <li><a href="/search"><div class="ls-FontGreen">Search</div></a></li>
  </ul>
</div>
