<!DOCTYPE html>
<html>
  <head>
      <link href="css/GLOBAL.css" rel="stylesheet" type="text/css">
      <link href="css/Chris.css" rel="stylesheet" type="text/css">
      <link href="css/logan.css" rel="stylesheet" type="text/css">
      <link href="css/zach.css" rel="stylesheet" type="text/css">
      <link href="css/tannan.css" rel="stylesheet" type="text/css">
  </head>
  </head>
  <body class="ls-Background">
    <h1>{{title}}</h1>
    {{> sidebar }}
    {{{body}}}
  </body>
</html>
