<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <link href="css/GLOBAL.css" rel="stylesheet" type="text/css">
      <link href="css/Chris.css" rel="stylesheet" type="text/css">
  </head>
  <body class="ls-Background">
    {{ > sidebar }}
    {{{body}}}
  </body>
</html>
