<h1>{{title}}</h1>
{{> sidebar}}

<div class="searchbox">
		<form action="">
    	<input class="search" type="text"></input>
			<input class="submit" type="submit" value="Search"></input>
		</form>
</div>
