<div class="searchbox">
		<form class = "searches" action="" method = "post">
			<div class="">
    	<input name="search" type="text"></input>
			<input name="submit" type="submit" value="Search"></input>
		</div>
		</form>
</div>
